{% extends 'base.html.twig' %}

{% block title %}Check other IP address{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

    <body class='checkIP'>
    {{ include ('menu.html.twig') }}
    <div class="container">
        <h1>Wprowad&#378; adres IP: </h1>
        <div class='well'>
            <form action="{{ path('app_ipform_show', {'ipad': ipaddress}) }}" method="post">
                <input type="text" name="ipad" size=22 id="ipad" value="{{ ipaddress }}"/>
                <button class="btn btn-success btn-mini">></button>
            </form>
        </div>
    {% if isp is defined %}
        <h1>ISP: </h1>
        {{ isp | raw }}
    {% endif %}
    </div>
    </body>

