{% extends 'base.html.twig' %}

{% block title %}Check IP address{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
    <div class='alert-info' id="cookie">
        U&#380;ywamy plik&#243;w cookie.
        <button class='transparent' onclick="cookieFunction()">X</button>
    </div>
    <div class='la'>Wr&#243;&#263; do IPcheck</div>
    <a href="{{ path('app_ipcheck_show') }}">
        <div class="arrow-left"></div>
    </a>
    <h1>Wprowad&#378; adres IP: </h1>
        <div class='well'>
            <form action="{{ path('app_ipform_show') }}" method="post">
                <input type="text" name="ipad" size=44 id="ipad" value="{{ ipaddress }}"/>
            </form>
        </div>
    {% if isp is defined %}
        <h1>ISP: </h1>
        {{ isp | raw }}
    {% endif %}
    </div>
{% endblock %}
