{% extends 'base.html.twig' %}

{% block title %}Check IP address{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <nav>
        <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-toggle mobile-menu-toggle-button">
        <ul id="plain-menu" class="mobile-toggleable-menu mobile-right">
            <li><a href="{{ path('app_ipcheck_show') }}">Home</a></li>
            <li><a href="{{ path('app_ipform_show', {'ipad': ipaddress}) }}">Check other IP</a></li>
        </ul>
        <label class="mobile-left mobmenu-toggle" for="mobile-menu-toggle">+</label>
        </nav>

    <h1>Wprowad&#378; adres IP: </h1>
        <div class='well'>
            <form action="{{ path('app_ipform_show', {'ipad': ipaddress}) }}" method="post">
                <input type="text" name="ipad" size=22 id="ipad" value="{{ ipaddress }}"/>
                <button class="btn btn-success btn-mini">></button>
            </form>
        </div>
    {% if isp is defined %}
        <h1>ISP: </h1>
        {{ isp | raw }}
    {% endif %}
    </div>
{% endblock %}
