{% extends 'base.html.twig' %}

{% block title %}Check Your IP address{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/WebRTC.js') }}"></script>
    <script src="{{ asset('js/deployJava.js') }}"></script>
{% endblock %}
{% block theme "home" %}
{% block body %}

    {{ include ('menu.html.twig') }}
    <div class="container">
    <h1>Tw&#243;j publiczny adres IP: </h1><div class='well'>{{ include ('form4ip.html.twig') }}<p style='float: right'>TOR: {{ tor }}</p></div>
    <h1>Przegl&#261;darka: </h1>
        <div class='well'>
            <ul><li>{{ przegladarka }}</li></ul>
            Akceptowane dokumenty:<ul><li>{{ dokumenty }}</li></ul>
            Akceptowane jezyki:<ul><li>{{ jezyki }}</li></ul>
            Akceptowane kodowanie znak&#243;w:<ul><li>{{ kodowanie }}</li></ul>
            Ciasteczka<ul><li>{{ ciastka | raw }}</li></ul>
            <script>
                document.write("<div class=\'transparent\'>");
                document.write("JavaScript:<ul><li> jest w&#322;&#261;czony</li></ul>");
                document.write("WebRTC leak:<br/>Your local IP addresses:<ul class=\'webrtc\'></ul>Your public IP addresses:<ul class=\'webrtc\'></ul>Your IPv6 addresses:<ul class=\'webrtc\'></ul>");
                document.write("<iframe id=\'iframe\' sandbox=\'allow-same-origin\' style=\'display: none\'></iframe>");
                document.write("Rozdzielczo&#347;&#263; ekranu:<ul><li>" + window.screen.availWidth + " x " + window.screen.availHeight + "</li></ul>");
                document.write("Rozdzielczo&#347;&#263; przegl&#261;darki:<ul><li>" + screen.width + " x " + screen.height + "</li></ul>");
                scDepth = screen.colorDepth;
                if( self.screen )
                {
                    numbage = screen.pixelDepth
                            ? Math.pow( 2, screen.pixelDepth ) // in N4
                            : Math.pow( 2, screen.colorDepth ) // in E4
                }
                else
                {
                    numbage = ""
                }
                document.write("Liczba kolor&#243;w:<ul><li>" + numbage + "</li></ul>");
                document.write("G&#322;&#281;bia kolor&#243;w:<ul><li>" + scDepth + " bit</li></ul>");
                document.write("Twoja przeg&#261;darka i system z JavaScript:<ul><li>" + navigator.userAgent + "</li></ul>");
                document.write("Przegl&#261;darka na system:<ul><li>" + navigator.platform + "</li></ul>");
                document.write("Java enable:<ul><li>" + navigator.javaEnabled() + "</li></ul>");
                document.write("<ul><li>" + jestJava() + "</li></ul>");
                document.write("</div>");
            </script>
            <noscript>
                JavaScript:<ul><li> jest wy&#322;&#261;czony</li></ul>
            </noscript>
        </div>
    <h1>ISP: </h1>
    {{ isp | raw }}
    </div>
{% endblock %}
