{% extends 'base.html.twig' %}

{% block title %}Check IP address{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
    <div class='alert-info' id="cookie">
        U&#380;ywamy plik&#243;w cookie.
        <button class='transparent' onclick="cookieFunction()">X</button>
    </div>
    <h1>Tw&#243;j adres IP: </h1><div class='well'>{{ ipaddress }}<p style='float: right'>TOR: {{ tor }}</p></div>
    <h1>Przegl&#261;darka: </h1>
        <div class='well'>
            <ul><li>{{ przegladarka }}</li></ul>
            {% block javascripts %}
            <script>
                document.write("JavaScript:<ul><li> jest w&#322;&#261;czony</li></ul>");
            </script>
            {% endblock %}
            <noscript>
                JavaScript:<ul><li> jest wy&#322;&#261;czony</li></ul>
            </noscript>
            Akceptowane dokumenty:<ul><li>{{ dokumenty }}</li></ul>
            Akceptowane jezyki:<ul><li>{{ jezyki }}</li></ul>
            Akceptowane kodowanie znak&#243;w:<ul><li>{{ kodowanie }}</li></ul>
            Ciasteczka<ul><li>{{ ciastka | raw }}</li></ul>
        </div>
    <h1>ISP: </h1>
    {{ isp | raw }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
